.frame {
  border: 2px solid #ccc;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 0;
  padding: 8px;
  width: 360px;
}

h2 {
  margin: 0; padding: 8px;
  background: #ccc;
  font: bold 16px Helvetica Neue, sans-serif;
}
