<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <div ng-controller="MyController">
    <p>hello = <input ng-model="hello"></p>
    <p>world = <input ng-model="world"></p>
    <p>{{hello}} {{world}}</p>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="../../client/sync.js"></script>
</body>
</html>
